#Ignore extraneous Visual Studio files

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Build results
[Dd]ebug/*.exe
[Dd]ebug/*.pdb
[Dd]ebug/*.ilk
[Dd]ebug/*.exe.*
*/[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/*.exe
[Rr]elease/*.pdb
[Rr]elease/*.ilk
[Rr]elease/*.exe.*
[Rr]eleases/
*/[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
dependencies/ORIGINALS/*

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile